In [24]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, Normalizer

In [21]:
cols = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS',
        'RAD','TAX','PTRATIO','B','LSTAT','MEDV']
 
data = pd.read_csv(r"../zasoby/housing.data",
                   sep=' +', engine='python', header=None, 
                   names=cols)

In [22]:
X = data.drop(columns='MEDV')
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33

In [23]:
y = data.loc[:, 'MEDV']
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [78]:
scaler = StandardScaler()
X_rdy = scaler.fit_transform(X)

In [74]:
normalizer = Normalizer()
X_rdy = normalizer.fit_transform(X)

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X_rdy, y, test_size=0.2)

In [80]:
X1_train = X_train

In [86]:
X2_train = X_train[:, [2, 4, 5, 9, 10]]
X2_test = X_test[:, [2, 4, 5, 9, 10]]

In [87]:
lr1 = LinearRegression()
lr1.fit(X1_train, y_train)
lr1.score(X_test, y_test)

0.8099660611547532

In [88]:
lr2 = LinearRegression()
lr2.fit(X2_train, y_train)
lr2.score(X2_test, y_test)

0.6959157025070082