In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression

In [3]:
auto = pd.read_csv(r'../zasoby/auto-mpg.csv')
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [5]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [7]:
auto.shape

(398, 9)

In [11]:
X = auto.drop(columns=['mpg', 'car name', 'horsepower'])
X.head()

   cylinders  displacement  weight  acceleration  model year  origin
0          8         307.0    3504          12.0          70       1
1          8         350.0    3693          11.5          70       1
2          8         318.0    3436          11.0          70       1
3          8         304.0    3433          12.0          70       1
4          8         302.0    3449          10.5          70       1

In [12]:
y = auto.mpg
y.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [14]:
lr = LinearRegression()
lr.fit(X.to_numpy(), y)
lr.score(X.to_numpy(), y)

0.8205585866916345

In [15]:
my_car1 = [4, 160, 190, 12, 90, 1]
my_car2 = [4, 200, 260, 15, 83, 1]
 
cars = [my_car1, my_car2]

In [19]:
lr.predict(cars)

array([52.23767295, 47.5274183 ])